html {
  background: url(img/fondo_vapowaver.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  }
  
.Letras_navbar{
  color: white;
}

#formulario{
  border: dashed black 1px;
  padding: 8px;
  border-radius: 8%;
  background-image: url(img/fondo_formulario.jpg);
  background-size: cover;
}



#mover_formulario{
  display: grid; 
  place-items: end end; 
  height: 100vh;
}

#juegos{
  position: absolute; 
  bottom: 300px; 
  left: 18px
}


.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
}


.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: blueviolet;
}



.th_espacio {
  padding-right: 10px;
  border: solid violet 3px;
  border-style: dashed;
}

.td_centrado {
  text-align: center;
  border: solid violet 3px;
  border-style: dashed;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prueba{
  padding-top: 150px;
}

.prueba2{
  padding-top: 20px;
}

